.content__name {
  margin: 30px 0 37px; }

.content__text {
  margin: 40px 0 80px; }

.content .card__rating_text {
  color: #000; }

.content .card__buildName {
  color: #000; }

.devCards {
  row-gap: 30px;
  column-gap: 30px; }

.devCards__card {
  text-decoration: none;
  display: inline-block;
  width: 15.625vw;
  padding: 20px 20px 30px;
  box-sizing: border-box;
  border: 2px solid #cecece3a;
  background: url(../assets/images/png/devCardBg.png) no-repeat 50% 50%/cover; }

.devCards__card:hover {
  border: 2px solid #FF9800; }

.devCards__logo {
  margin: 14px 0 20px; }

.devCards__line {
  opacity: 0.1;
  height: 1px;
  margin: 20px 0; }

.dev__data {
  margin-top: 40px; }

.dev__left {
  margin-right: 40px; }

.dev__bigLogo {
  background: #F3F5FA;
  font-size: 0;
  width: 440px;
  height: 440px; }

.dev__name {
  font-size: 50px;
  font-weight: 600; }

.dev__dataRating {
  margin: 31px 0; }

.dev__rating {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px; }

.dev__vote {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #9C9C9C;
  margin-right: 30px; }

.dev__stars {
  font-size: 0;
  margin-top: 3px; }

.dev__reviewsIcon {
  margin-right: 21px;
  width: 27px;
  font-size: 0; }

.dev__reviewsIcon img {
  width: 100%; }

.dev__reviewsText {
  color: #FF9800;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  font-size: 18px;
  font-weight: 500; }

.dev__reviewsNum {
  font-size: 18px;
  font-weight: 500; }

.dev__dataName {
  font-size: 24px;
  font-weight: 500;
  margin: 22.5px 0 19px; }

.dev__dataText {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0; }

.dev .greyText {
  color: #9C9C9C; }

.dev__phoneBtn {
  padding: 29px 0;
  width: 300px;
  border: 2px solid #FF9800;
  margin-top: 28px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #000; }

.dev a {
  font-size: 0;
  text-decoration: none; }

.dev__about {
  margin: 50px 0 53px; }

.dev__wood {
  margin: 50px 0 67px; }

.dev__woodTitle {
  font-size: 30px;
  font-weight: 500;
  line-height: 36.57px;
  margin-bottom: 50px; }

.dev__woodDate {
  font-size: 66px;
  font-weight: 500;
  font-family: 'Oswald';
  margin: 0 30px; }

.dev__woodObjects {
  overflow: auto;
  white-space: nowrap;
  width: 520px;
  padding: 0 0 10px;
  font-size: 0; }

.dev__objectItem {
  position: relative;
  display: inline-block;
  width: 150px;
  font-size: 0;
  border: 2px solid transparent; }

.dev__objectItem img {
  font-size: 0;
  width: 100%; }

.dev__objectItem:hover {
  border: 2px solid #FF9800; }

.dev__woodBuildName {
  display: none;
  background: #fff;
  padding: 18xp 31px;
  border: 1px solid #f6f6f6;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  position: absolute;
  top: 0px;
  z-index: 100; }

.dev .line {
  width: 13px;
  height: 2px;
  background: #000;
  display: inline-block;
  margin: 0 10px; }

.dev__woodEmpty {
  width: 520px; }
