@function vwSize($size) {
    $vwSize: $size * 100 / 1920;
    @return #{$vwSize}vw;
}

// developers cards begin
.content {
    &__name {
        margin: 24px 0 37px;
    }
    &__text {
        margin: 40px 0 80px;
    }
    .card__rating_text {
        color: #000;
    }
    .card__buildName {
        color: #000;
    }
}

.devCards {
    row-gap: 30px;
    column-gap: 30px;
    &__card {
        text-decoration: none;
        display: inline-block;
        width: vwSize(300);
        padding: 20px 20px 30px; 
        box-sizing: border-box;
        border: 2px solid #cecece3a;
        background: url(../assets/images/png/devCardBg.png) no-repeat 50% 50%/cover;
        // transition: 1s;
        &:hover {
            border: 2px solid #FF9800;
            // transform: translateY(-10px);
            // transition: 1s;
        }
    }
    &__logo {
        margin: 14px 0 20px;
    }
    &__line {
        opacity: 0.1;
        height: 1px;
        margin: 20px 0;
    }
}
// developers cards end

// developer card begin
.dev {
    &__data {
        margin-top: 40px;
    }
    &__left {
        margin-right: 40px;
    }
    &__bigLogo {
        background: #F3F5FA;
        font-size: 0;
        width: 440px;
        height: 440px;
    }
    &__name {
        font-size: 50px;
        font-weight: 600;
    }
    &__dataRating {
        margin: 31px 0;
    }
    &__rating {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 7px;
    }
    &__vote {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #9C9C9C;
        margin-right: 30px;
    }
    &__stars {
        font-size: 0;
        margin-top: 3px;
    }
    &__reviewsIcon {
        margin-right: 21px;
        width: 27px;
        font-size: 0;
        img {
            width: 100%;
        }
    }
    &__reviewsText {
        color: #FF9800;
        text-decoration-line: underline;
        text-decoration-style: dashed;
        font-size: 18px;
        font-weight: 500;
    }
    &__reviewsNum {
        font-size: 18px;
        font-weight: 500;
    }
    &__dataName {
        font-size: 24px;
        font-weight: 500;
        margin: 22.5px 0 19px;
    }
    &__dataText {
        font-size: 18px;
        font-weight: 500;
        margin: 20px 0;
    }
    .greyText {
        color: #9C9C9C;
    }
    &__phoneBtn {
        padding: 29px 0;
        width: 300px;
        border: 2px solid #FF9800;
        margin-top: 28px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        color: #000;
    }
    a {
        font-size: 0;
        text-decoration: none;
    }
    &__about {
        margin: 50px 0 53px;
    }
    &__wood {
        margin: 50px 0 67px;
    }
    &__woodYear {
        margin-top: 152px;
        &:nth-child(1) {
            margin-top: 0;
            .dev__arrowYear {
                display: none;
            }
        }
        &:nth-child(2n) {
            .dev__woodObjects {
                left: 0;
                text-align: right;
            }
        }
    }
    &__arrowYear {
        top: -106px;
    }
    &__woodTitle {
        font-size: 30px;
        font-weight: 500;
        line-height: 36.57px;
        margin-bottom: 50px;
    }
    &__woodDate {
        font-size: 66px;
        font-weight: 500;
        font-family: 'Oswald';
        margin: 0 30px;
    }
    &__woodObjects {
        box-sizing: border-box;
        overflow: auto;
        white-space: nowrap;
        max-width: 520px;
        width: 100%;
        padding: 100px 0 10px;
        margin-top: -100px;
        font-size: 0;
        right: 0;
        text-align: left;
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
        &::-webkit-scrollbar-track {
            background: #f6f6f6;
            border-radius: 0;
        }
        &::-webkit-scrollbar-thumb {
            background: #FF9800;
            border-radius: 0px;
        }
    }
    &__objectItem {
        position: relative;
        display: inline-block;
        max-width: 150px;
        width: 100%;
        font-size: 0;
        border: 2px solid transparent;
        img {
            font-size: 0;
            width: 100%;
        }
        &:hover {
            border: 2px solid #FF9800;
            // .dev__woodDevNameBox {
            //     display: block;
            // }
        }
    }
    &__woodDevNameBox {
        display: none;
        position: absolute;
        top: -100px;
    }
    &__woodDevName {
        background: #F6F6F6;
        padding: 18px 31px;
        border: 1px solid #D8DAE1;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: #000;
        // transform: translate(0, 0px);
        z-index: 100;
        &:after {
            content: '';
            transform: rotate(45deg);
            width: 22px;
            height: 22px;
            background: #f6f6f6;
            border: 1px solid #D8DAE1;
            border-top: 0px;
            border-left: 0px;
            position: absolute;
            left: 15px;
            bottom: -11px;
        }
    }
    .line {
        width: 13px;
        height: 2px;
        background: #000;
        display: inline-block;
        margin: 0 10px;
    }
    &__woodEmpty {
        width: 520px;
    }
}
// developer card end