.search-dropdown.btn-group > .btn,
.search-dropdown.btn-group-vertical > .btn {
  text-align: left !important; }

.search-dropdown.btn-group, .search-dropdown.btn-group-vertical {
  width: 100% !important; }

.search-dropdown .dropdown-toggle::after {
  display: none; }

li {
  list-style: none; }

li.disactive-li::before {
  content: "";
  color: grey;
  font-weight: bold;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  background: grey; }

li.active-li::before {
  content: "";
  color: grey;
  font-weight: bold;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  background: green; }
