li {
  list-style: none; }

li.disactive-li::before {
  content: "";
  color: grey;
  font-weight: bold;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  background: grey; }

li.active-li::before {
  content: "";
  color: grey;
  font-weight: bold;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  background: green; }

.custom-breadcrumbs .breadcrumb-item a {
  color: #fff;
  text-decoration: none; }

.custom-breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  color: #cacaca; }

.custom-breadcrumbs .breadcrumb-item.active {
  color: #cacaca; }

.container_1290 {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto; }

::-webkit-scrollbar {
  width: 3px;
  height: 3px; }

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #000; }

::-webkit-scrollbar-thumb {
  background: #FF9800;
  border-radius: 3px; }

.header {
  height: 100vh;
  min-height: 940px; }

.header_sm {
  height: 120px; }

.header_sm__slide {
  height: 120px !important;
  position: relative; }

.header_sm__slide img {
  height: 120px !important;
  width: 100% !important;
  object-fit: cover;
  object-position: 50% 0; }

.header_sm__slide_blackoutTop {
  position: absolute;
  top: 0;
  height: 120px !important;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0) 50%); }

.header_sm__slide_blackout {
  position: absolute;
  top: 0;
  height: 120px !important;
  width: 100%;
  background: rgba(0, 0, 0, 0.7); }

.header_object__slide {
  height: 100vh !important;
  min-height: 940px !important;
  position: relative; }

.header_object__slide img {
  height: 100vh !important;
  min-height: 940px !important;
  width: 100% !important;
  object-fit: cover; }

.header_object__slide_blackoutTop {
  position: absolute;
  height: 100vh !important;
  min-height: 940px !important;
  width: 100%;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0) 100%); }

.header_object__slide_blackout {
  position: absolute;
  height: 100vh !important;
  min-height: 940px !important;
  width: 100%;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 34.9%); }

.header_object__selectProperty_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 215px; }

.header_object__selectProperty_btn {
  padding-top: 68px;
  text-align: center; }

.header_object__selectProperty_name {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 82px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 22px; }

.header_object__lightBtn {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.61);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 29px 75px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF; }

.header_object__lightBtn:hover {
  background: rgba(255, 152, 0, 0.5);
  border: 2px solid #FF9800;
  color: #fff; }

.header_object__lightBtn:focus {
  background: transparent;
  border: 2px solid #FF9800;
  color: #fff; }

.header__slider {
  width: 100%;
  height: 100vh !important;
  min-height: 940px !important; }

.header__slide {
  height: 100vh !important;
  min-height: 940px !important;
  position: relative; }

.header__slide img {
  height: 100vh !important;
  min-height: 940px !important;
  width: 100% !important;
  object-fit: cover; }

.header__slide_blackoutTop {
  position: absolute;
  height: 100vh !important;
  min-height: 940px !important;
  width: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0) 100%); }

.header__slide_blackout {
  position: absolute;
  height: 100vh !important;
  min-height: 940px !important;
  width: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 34.9%); }

.header__logo {
  text-align: center;
  width: 190px;
  height: 77px;
  position: relative; }

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%; }

.header__navItem {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
  margin-right: 25px;
  transition: .7s; }

.header__navItem:hover {
  color: #FF9800; }

.header__language {
  width: 61px;
  height: 26px; }

.header__language_block {
  top: 0;
  left: 0;
  height: 29px;
  width: 61px;
  display: inline-block;
  border: 1px solid #FFFFFF;
  transition: 2s;
  overflow: hidden; }

.header__language_block:hover {
  height: 86px;
  border: 0;
  border: 1px solid #FF9800; }

.header__language_btn {
  box-sizing: border-box;
  height: 26px;
  padding: 0 15px;
  margin: 0;
  border-radius: 0;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.header__language_btn:hover {
  color: #FF9800; }

.header__phone, .header__phone:hover {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF; }

.header__phone_text, .header__phone_text:hover {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FAA61A;
  text-transform: lowercase; }

.header__statusConstruction {
  bottom: 43px;
  right: 43px; }

.header__selectProperty_btn {
  padding-top: 220px;
  text-align: center; }

.header__selectProperty_name {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 82px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  max-width: 720px;
  margin: 50px auto 0; }

.header__lightBtn, .header__lightBtn_md {
  background: rgba(255, 255, 255, 0.15) url("../assets/images/png/search.png") no-repeat 87% 50%;
  border: 2px solid rgba(255, 255, 255, 0.61);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 29px 95px 29px 54px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF; }

.header__lightBtn:hover, .header__lightBtn_md:hover {
  background: rgba(255, 152, 0, 0.5) url("../assets/images/png/search.png") no-repeat 87% 50%;
  border: 2px solid #FF9800;
  color: #fff; }

.header__lightBtn:focus, .header__lightBtn_md:focus {
  background: transparent url("../assets/images/png/search.png") no-repeat 87% 50%;
  border: 2px solid #FF9800;
  color: #fff; }

.header__lightBtn_md {
  padding: 20px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.15); }

.header__lightBtn_md:hover {
  background: rgba(255, 152, 0, 0.5); }

.header__lightBtn_md:focus {
  background: transparent; }

.header__statusConstruction_txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-right: 44px; }

.header__searchBar_closeBtn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #99A3BB; }

.header__searchBar_closeBtn:hover {
  color: #000; }

.header__searchBar_closeBtn:hover svg {
  color: #000;
  fill: #000; }

.header__searchBar_closeBtn svg {
  color: #99A3BB;
  fill: #99A3BB; }

.header__searchBar_close {
  height: 0px;
  opacity: 0;
  transition: .5s;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 0 30px;
  overflow: scroll;
  overflow-x: hidden; }

.header__searchBar_open {
  height: 700px;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 1;
  padding: 0 30px;
  transition: .5s;
  z-index: 20;
  display: block; }

.header__mouse {
  position: absolute;
  bottom: 61px;
  left: 50%;
  transform: translateX(-50%); }

.header__mouse img {
  width: 35px;
  height: 47px; }

.searchBar {
  /* Radio buttons for number available and disable */
  /* End Radio buttons for number available and disable */
  /* Checkboxes for number available and disable */
  /* End Checkboxes for number available and disable */ }

.searchBar__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #000000; }

.searchBar__title_sm {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-top: 30px; }

.searchBar__input {
  background: #FFFFFF;
  border: 1px solid #E5EBEF;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 19px 20px;
  width: 100%;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #000; }

.searchBar__input::placeholder {
  color: #7E8E9D; }

.searchBar__formSelect, .searchBar__formSelect_md, .searchBar__formSelect_sm {
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  max-height: 60px;
  outline: none;
  margin-right: 20px;
  padding: 19px 35px 19px 20px;
  border: 1px solid #D2DFE8;
  border-radius: 3px;
  background: url("../assets/images/png/select-arrow.png") no-repeat 93.3% 50%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7E8E9D;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.searchBar__formSelect:hover, .searchBar__formSelect_md:hover, .searchBar__formSelect_sm:hover {
  border: 1px solid #77C85B;
  cursor: pointer; }

.searchBar__formSelect:last-child, .searchBar__formSelect_md:last-child, .searchBar__formSelect_sm:last-child {
  margin-right: 0; }

.searchBar__formSelect_md {
  width: 200px; }

.searchBar__formSelect_sm {
  width: 190px; }

.searchBar__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 60px;
  height: 60px; }

.searchBar__radio-disabled {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 60px;
  height: 60px; }

.searchBar__radio label {
  width: 60px;
  height: 60px;
  background: transparent; }

.searchBar__radio:checked + label::before {
  border: 1px solid #77C85B; }

.searchBar__radio:checked + label.searchBar__radio_label span {
  color: #77C85B; }

.searchBar__radio + label,
.searchBar__radio-disabled + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative; }

.searchBar__radio + label::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 3px;
  border: 1px solid #D2DFE8;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff; }

.searchBar__radio_label span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7E8E9D; }

.searchBar__chckbx-160,
.searchBar__chckbx-160 + label::before {
  width: 160px !important; }

.searchBar__chckbx-175,
.searchBar__chckbx-175 + label::before {
  width: 175px !important; }

.searchBar__chckbx-190,
.searchBar__chckbx-190 + label::before {
  width: 190px !important; }

.searchBar__chckbx-220,
.searchBar__chckbx-220 + label::before {
  width: 220px !important; }

.searchBar__chckbx-250,
.searchBar__chckbx-250 + label::before {
  width: 250px !important; }

.searchBar__chckbx-280,
.searchBar__chckbx-280 + label::before {
  width: 280px !important; }

.searchBar__chckbx-350,
.searchBar__chckbx-350 + label::before {
  width: 350px !important; }

.searchBar__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 150px;
  height: 60px; }

.searchBar__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin: 0 20px 20px 0; }

.searchBar__checkbox + label::before {
  content: '';
  display: inline-block;
  width: 150px;
  height: 60px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 3px;
  border: 1px solid #D2DFE8;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff; }

.searchBar__checkbox:checked + label::before,
.searchBar__checkbox:hover + label::before {
  border: 1px solid #77C85B; }

.searchBar__checkbox:hover + label.searchBar__checkbox-label span {
  color: #77C85B; }

.searchBar__checkbox:hover + label.searchBar__checkbox-label span svg {
  color: #77C85B;
  fill: #77C85B; }

.searchBar__checkbox-label {
  position: relative; }

.searchBar__checkbox-label span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #7E8E9D;
  white-space: nowrap; }

.searchBar__checkbox-label span svg {
  color: #99A3BB;
  fill: #99A3BB;
  margin-right: 12px; }

.searchBar__txtRoom {
  border: 1px solid #D2DFE8;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 18px 25px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7E8E9D;
  margin-right: 20px; }

.searchBar__sortingBtn {
  border: 1px solid #D2DFE8;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 19px 25px;
  margin: 0 20px 20px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #7E8E9D; }

.searchBar__sortingBtn svg {
  color: #99A3BB;
  fill: #99A3BB;
  margin-right: 12px; }

.searchBar__sortingBtn:hover {
  color: #77C85B;
  border: 1px solid #77C85B; }

.searchBar__sortingBtn:hover svg {
  color: #77C85B;
  fill: #77C85B; }

.searchBar__confirmBtn {
  background: #77C85B;
  border-radius: 3px;
  padding: 19px 106px 19px 106px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF; }

.searchBar__confirmBtn svg {
  fill: white;
  color: white;
  margin-left: 10px; }

.searchBar__confirmBtn:hover {
  background: #FF9800;
  color: #FFFFFF; }

.searchBar__selectize.selectize-control .selectize-input {
  width: 200px !important;
  height: 100% !important;
  max-height: 60px !important;
  outline: none !important;
  margin-right: 20px !important;
  padding: 19px 35px 19px 20px !important;
  border: 1px solid #D2DFE8 !important;
  border-radius: 3px !important;
  background: url("../assets/images/png/select-arrow.png") no-repeat 93.3% 50% !important;
  box-shadow: none !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #000 !important;
  white-space: nowrap !important;
  overflow: hidden !important; }

.searchBar__selectize.selectize-control .selectize-input:after {
  display: none !important; }

.searchBar__selectize.selectize-control .selectize-input:hover {
  border: 1px solid #77C85B !important; }

.searchBar__selectize.selectize-control .selectize-input input {
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #7E8E9D !important;
  white-space: nowrap !important;
  width: 100% !important; }

.searchBar__selectize.selectize-control .selectize-input .item {
  position: absolute;
  max-width: 70% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; }

.searchBar__selectize.selectize-control .selectize-dropdown {
  position: absolute !important;
  top: 0px !important;
  border: 1px solid #D2DFE8 !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  width: 300px !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #000000 !important;
  padding: 14px 0 0 12px;
  background: #fff url("../assets/images/png/select-arrow.png") no-repeat 93.3% 26px !important;
  /* width */
  /* Track */
  /* Handle */ }

.searchBar__selectize.selectize-control .selectize-dropdown .active {
  color: #77C85B !important;
  background-color: transparent !important;
  cursor: pointer; }

.searchBar__selectize.selectize-control .selectize-dropdown .option {
  margin-bottom: 19px; }

.searchBar__selectize.selectize-control .selectize-dropdown ::-webkit-scrollbar {
  width: 3px; }

.searchBar__selectize.selectize-control .selectize-dropdown ::-webkit-scrollbar-track {
  background: white; }

.searchBar__selectize.selectize-control .selectize-dropdown ::-webkit-scrollbar-thumb {
  background: #77C85B; }

.searchBar__selectize.select-300.selectize-control .selectize-input {
  width: 300px !important; }

.searchBar__selectize.select-250.selectize-control .selectize-input {
  width: 250px !important; }

.searchBar__selectize.select-190.selectize-control .selectize-input {
  width: 190px !important; }

.searchBar__lessParamsBtn, .searchBar__lessParamsBtn:hover {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FF9800;
  padding: 0;
  border-bottom: 1px dashed #FF9800; }

div[data-v-e4caeaf8] {
  height: 100vh !important;
  min-height: 940px !important; }

.slick-list {
  height: 100vh !important;
  min-height: 940px !important; }

ul[data-v-3d1a4f76].slick-dots {
  flex-wrap: wrap !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) !important;
  right: 0 !important;
  left: auto !important;
  width: 150px !important;
  list-style-type: decimal-leading-zero !important; }

.slick-vertical .slick-slide[data-v-e4caeaf8] {
  border: none !important; }

.slick-dots {
  bottom: auto !important; }

.slick-dots li {
  width: 50px !important;
  height: 50px !important;
  margin-right: 25px !important;
  display: block !important; }

.slick-dots li button {
  width: 50px !important;
  height: 50px !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 22px !important;
  text-align: center !important;
  letter-spacing: 0.05em !important;
  color: #FFFFFF !important; }

.slick-dots li button:before {
  top: 50% !important;
  transition: translateY(-50%) !important;
  right: -25px !important;
  left: auto !important;
  width: 30px !important;
  height: 2px !important;
  content: '' !important;
  background: #ffffff;
  opacity: 1 !important; }

.slick-dots li button:after {
  position: absolute;
  top: 14px !important;
  left: -12px !important;
  width: 50px !important;
  height: 50px !important;
  content: '0' !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 22px !important;
  text-align: center !important;
  letter-spacing: 0.05em !important;
  color: #FFFFFF !important; }

.slick-dots li.slick-active button {
  font-size: 30px !important;
  line-height: 37px !important; }

.slick-dots li.slick-active button:before {
  width: 30px !important;
  height: 4px !important;
  content: '' !important;
  background: #FF9800;
  opacity: 1 !important; }

.slick-dots li.slick-active button:after {
  top: 7px !important;
  left: -20px !important;
  font-size: 30px !important;
  line-height: 37px !important; }

.bestsellers {
  padding: 80px 0;
  background: #F0F1F2; }

.bestsellers__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #000000; }

.bestsellers__seeAll {
  background: #FFFFFF url("../assets/images/svg/arrow-right.svg") no-repeat 80% 50%;
  border-radius: 3px;
  padding: 9px 50px 9px 20px;
  margin-left: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  transition: .5s; }

.bestsellers__seeAll:hover {
  color: #000000;
  box-shadow: 0px 4px 20px #cacaca; }

.bestsellers__cards .card {
  margin-right: 30px; }

.bestsellers__cards .card:nth-child(4n) {
  margin-right: 0; }

.newBuildings {
  padding: 50px 0 40px 0;
  background: #FFFFFF; }

.newBuildings__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #000000; }

.newBuildings__cards .card {
  margin-right: 30px; }

.newBuildings__cards .card:nth-child(4n) {
  margin-right: 0; }

.newBuildings__cards_lg {
  margin-bottom: 70px; }

.newBuildings__cards_lg .card_lg {
  margin-right: 30px; }

.newBuildings__cards_lg .card_lg:nth-child(2n) {
  margin-right: 0; }

.newBuildings__block {
  margin-top: 50px; }

.newBuildings__block_btn {
  border: 1px solid #D2DFE8;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 24px 69px 24px 68px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #7E8E9D; }

.newBuildings__block_btn:hover {
  border: 1px solid #FF9800; }

.newBuildings__block_btn:focus {
  color: #FF9800;
  border: 1px solid #FF9800; }

.newBuildings__block_btn:focus svg {
  fill: #FF9800;
  color: #FF9800; }

.newBuildings__block_btn svg {
  fill: #7E8E9D;
  color: #7E8E9D;
  margin-left: 19px; }

.newBuildings__block_img {
  width: 23px;
  height: 21px;
  margin-left: 19px; }

.newBuildings__block_pagination {
  margin: 30px auto 0 auto;
  text-align: center; }

.newBuildings__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 70px;
  height: 70px; }

.newBuildings__radio label {
  width: 70px;
  height: 70px;
  background: transparent; }

.newBuildings__radio:checked + label::before {
  border: 1px solid #F64156; }

.newBuildings__radio:checked + label.newBuildings__radio_label span {
  color: #F64156; }

.newBuildings__radio + label,
.newBuildings__radio-disabled + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative; }

.newBuildings__radio + label::before {
  content: '';
  display: inline-block;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #D2DFE8;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff; }

.newBuildings__radio_label span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #7E8E9D; }

.newBuildings__pagination_btn {
  width: 70px;
  height: 70px; }

.card {
  width: 300px;
  height: 400px;
  border-radius: 3px;
  position: relative;
  margin-top: 30px;
  padding: 20px 16px 20px 20px;
  border: none;
  transition: 1s; }

.card:hover {
  z-index: 15;
  transform: scale(1.06);
  background: #F1F3F9;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5); }

.card__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px; }

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 3px; }

.card__image_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-radius: 3px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 33.33%, rgba(0, 0, 0, 0.6) 85.42%); }

.card__content_top {
  z-index: 3; }

.card__content_bottom {
  z-index: 3;
  margin: auto 0 0 0; }

.card__companyName {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 7px; }

.card__buildName {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF; }

.card__rating {
  max-height: 20px; }

.card__rating_image {
  width: 17px;
  height: 16px;
  font-size: 0;
  margin-left: 10px; }

.card__rating_image img {
  width: 17px;
  height: 16px;
  font-size: 0; }

.card__rating_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 10px; }

.card__btnStay {
  background: rgba(0, 0, 0, 0.51);
  border-radius: 3px;
  padding: 10px 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF; }

.card__btnStay:hover {
  color: #FFFFFF; }

.card__price {
  margin-top: 19px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF; }

.card__price span {
  font-weight: 700; }

.card__status {
  margin-top: 23px; }

.card__status_image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative; }

.card__status_image img {
  width: 100%;
  height: 100%; }

.card__status_image:hover .card__status_tooltip {
  visibility: visible; }

.card__status_tooltip {
  visibility: hidden;
  padding: 3px 12px;
  width: 110px;
  display: inline-block;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  top: -33px;
  left: -45px;
  z-index: 2; }

.card__status_tooltip:before {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  border: 8px solid transparent;
  border-top: 10px solid white; }

.card__status_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF; }

.card__status_textActive {
  color: #42FF00; }

.card__status_textDisactive {
  color: #FF9800; }

.card_lg {
  width: 630px;
  height: 400px;
  border-radius: 3px;
  position: relative;
  margin-top: 30px;
  padding: 40px;
  border: none;
  transition: 1s; }

.card_lg__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px; }

.card_lg__image img {
  width: 100%;
  height: 100%;
  border-radius: 3px; }

.card_lg__image_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-radius: 3px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 33.33%, rgba(0, 0, 0, 0.6) 85.42%); }

.card_lg__content {
  z-index: 3; }

.card_lg__companyName {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 7px; }

.card_lg__buildName {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 24px; }

.card_lg__discounts {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #FFCD83;
  margin-bottom: 11px; }

.card_lg__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 35px; }

.card_lg__btn {
  background: #77C85B;
  border-radius: 3px;
  padding: 20px 46px 18px 36px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF; }

.card_lg__btn svg {
  fill: white;
  color: white;
  margin-left: 10px; }

.card_lg__btn:hover {
  background: #FF9800;
  color: #FFFFFF; }

.advantages {
  padding-top: 40px;
  margin-bottom: 100px; }

.advantages__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #000000; }

.advantages__card {
  background: linear-gradient(180deg, rgba(241, 243, 249, 0) 0%, rgba(241, 243, 249, 0.44) 100%);
  border: 1px solid #D8DAE1;
  box-sizing: border-box;
  border-radius: 3px;
  width: 410px;
  height: 333px;
  padding: 40px 30px 40px 40px; }

.advantages__card_sm {
  width: 410px;
  height: 148px;
  background: rgba(255, 152, 0, 0.05);
  border: 1px solid #FF9800;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 28px 0 27px 40px; }

.advantages__card_count {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 47px;
  line-height: 57px;
  color: #FF9800;
  margin-bottom: 10px; }

.advantages__card_name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #000000; }

.advantages__card_description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  margin-top: 15px; }

.advantages__card_image {
  margin-bottom: 30px;
  height: 78px; }

.advantages__cards .advantages__card,
.advantages__cards .advantages__card_sm {
  margin-right: 30px;
  margin-top: 30px; }

.advantages__cards .advantages__card:nth-child(3n),
.advantages__cards .advantages__card_sm:nth-child(3n) {
  margin-right: 0px; }

.footer {
  background: transparent url("../assets/images/png/footer.png") no-repeat 50% 50%/cover;
  height: 582px; }

.footer__bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding: 48px 0; }

.footer__block_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FF9800;
  margin-bottom: 17px; }

.footer__block_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 434px;
  margin-right: 40px; }

.footer__block_text_sm {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF; }

.footer__block_link a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  white-space: nowrap; }

.footer__block_link a:hover {
  color: #FF9800; }

.footer__block_link svg {
  fill: #D0D0D0;
  color: #D0D0D0;
  margin-right: 30px; }

.footer__block_link:hover svg {
  fill: #FF9800;
  color: #FF9800; }

.footer__block_address {
  width: 246px !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none; }

.footer__block_btn {
  margin-top: 7px; }

.footer__block_btn button {
  padding: 20px 30px;
  border: 1px solid rgba(255, 152, 0, 0.5);
  border-radius: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF; }

.footer__block_btn button:hover {
  background: rgba(255, 152, 0, 0.5);
  border: 1px solid #FF9800;
  color: #FFFFFF; }

.footer__block_btn button:focus {
  border: 1px solid #FF9800; }

.footer__block_logo {
  margin-top: 21px; }

.footer__block_logo img {
  width: 190px;
  height: 77px; }

.footer__middle {
  padding: 23px 0;
  margin-top: 30px;
  border-top: 1px solid rgba(196, 196, 196, 0.3);
  border-bottom: 1px solid rgba(196, 196, 196, 0.3); }

.footer__btnTop {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 119px; }

.footer__btnTop button {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 152, 0, 0.5);
  border-radius: 4px; }

.footer__btnTop button:hover {
  background: rgba(255, 152, 0, 0.5);
  border: 1px solid #FF9800;
  color: #FFFFFF; }

.footer__btnTop button:focus {
  border: 1px solid #FF9800; }

.footer__btnTop button img {
  width: 14px;
  height: 9px; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 1001; }

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear; }

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #FF9800;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out; }

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s; }

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0; }

.loaded .preloader {
  display: none; }
