.map-body {
  padding-bottom: 60px; }

.map-body .ymaps-2-1-78-balloon__content ymaps {
  height: auto !important; }

.discription__title {
  line-height: 30px;
  font-family: Montserrat;
  color: #515151;
  font-size: 18px;
  font-weight: 600; }

.map {
  position: relative;
  margin: 40px 0; }

.range-slider {
  max-width: 200px;
  width: 100%;
  margin: auto 16px;
  text-align: center;
  position: relative; }

.range-slider svg, .range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0; }

.range-slider input[type=range]::-webkit-slider-tumb {
  z-index: 2;
  position: relative;
  top: 2px;
  margin-top: -7px; }

.line {
  color: #515151; }

.inputBox {
  border: 1px solid #D2DFE8;
  padding: 10px 17px;
  box-sizing: border-box; }

div .numInput {
  text-align: left;
  width: 50px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.filterBox {
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  max-width: 363px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box; }

.filter {
  margin: 15px 0; }

.filter .form-control {
  padding: 0; }

.filter__inpputText {
  font-size: 16px;
  font-weight: 500;
  color: #7E8E9D;
  max-width: 140px;
  width: 100%; }

.filter__rangeSlider {
  margin-top: 19px; }

.filter__rangeSlider .vue-range-slider.slider-component .slider .slider-piecewise {
  background: #fff;
  border: 1px solid #D2DFE8;
  border-radius: 100px; }

.filter__rangeSlider .vue-range-slider.slider-component .slider .slider-process {
  border: 1px solid #D2DFE8;
  background: rgba(126, 142, 157, 0.35);
  box-shadow: inset 0px 0px 0px 2px #fff;
  padding: 2px 0; }

.filter__rangeSlider .vue-range-slider.slider-component .slider .slider-dot {
  background: url("../assets/images/svg/rangeSlIcon.svg") no-repeat 50% 50%, #FF9800; }

.filter__rangeSlider .vue-range-slider.slider-component .slider .slider-dot.slider-always .slider-tooltip-wrap {
  display: none !important; }

.filterName {
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 20px 0 11px; }

div .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: #515151;
  background: transparent;
  border: 1px solid #4e555b;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  box-shadow: none; }

div .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) {
  margin: 1.5px; }

div .btn-group-toggle > .btn, .btn-group-toggle > .btn-group > .btn {
  margin-bottom: 1.5px; }

div div .btn-secondary {
  color: #515151;
  background: transparent;
  border: 1px solid #D2DFE8;
  box-sizing: border-box;
  border-radius: 3px !important;
  margin: 1.5px; }

div .btn-secondary:hover {
  background: transparent;
  color: #515151; }

.cityBtn {
  display: inline-block;
  background: #fff;
  border: 1px solid #77C85B;
  border-radius: 3px;
  color: #77C85B;
  padding: 10px 17px; }

.searchResult__leftRow_selectize {
  width: 100%; }

.searchResult__leftRow_selectize.selectize-control .selectize-input {
  width: 100% !important;
  max-height: 40px !important;
  outline: none !important;
  margin-right: 20px !important;
  padding: 10px 17px !important;
  border: 1px solid #D2DFE8 !important;
  border-radius: 3px !important;
  background: url("../assets/images/png/select-arrow.png") no-repeat 93.3% 50% !important;
  box-shadow: none !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #000 !important;
  white-space: nowrap !important;
  overflow: hidden !important; }

.searchResult__leftRow_selectize.selectize-control .selectize-input:after {
  display: none !important; }

.searchResult__leftRow_selectize.selectize-control .selectize-input:hover {
  border: 1px solid #F64156 !important; }

.searchResult__leftRow_selectize.selectize-control .selectize-input input {
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #7E8E9D !important;
  white-space: nowrap !important;
  width: 100% !important; }

.searchResult__leftRow_selectize.selectize-control .selectize-input .item {
  position: absolute;
  overflow: hidden !important;
  text-overflow: ellipsis !important; }

.searchResult__leftRow_selectize.selectize-control .selectize-dropdown {
  position: absolute !important;
  top: 0px !important;
  border: 1px solid #D2DFE8 !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #000000 !important;
  padding: 14px 0 0 12px;
  background: #fff url("../assets/images/png/select-arrow.png") no-repeat 93.3% 26px !important;
  /* width */
  /* Track */
  /* Handle */ }

.searchResult__leftRow_selectize.selectize-control .selectize-dropdown .active {
  color: #F64156 !important;
  background-color: transparent !important;
  cursor: pointer; }

.searchResult__leftRow_selectize.selectize-control .selectize-dropdown .option {
  margin-bottom: 19px; }

.searchResult__leftRow_selectize.selectize-control .selectize-dropdown ::-webkit-scrollbar {
  width: 3px; }

.searchResult__leftRow_selectize.selectize-control .selectize-dropdown ::-webkit-scrollbar-track {
  background: white; }

.searchResult__leftRow_selectize.selectize-control .selectize-dropdown ::-webkit-scrollbar-thumb {
  background: #F64156; }

.searchResult__leftRow_selectize.select-300.selectize-control .selectize-input {
  max-width: 300px !important;
  width: 100% !important; }

.searchResult__leftRow_selectize.select-250.selectize-control .selectize-input {
  max-width: 250px !important;
  width: 100% !important; }

.searchResult__leftRow_selectize.select-190.selectize-control .selectize-input {
  max-width: 190px !important;
  width: 100% !important; }

.houseFilter #btn-radios-2 {
  display: inline-block; }

.map .miniFilter {
  top: 10px;
  right: 0;
  width: 50%;
  border-radius: 3px;
  -webkit-box-shadow: -23px -19px 17px -21px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -23px -19px 17px -21px rgba(34, 60, 80, 0.2);
  box-shadow: -23px -19px 17px -21px rgba(34, 60, 80, 0.2); }

.app-content {
  padding: 40px 15px; }

.markImage {
  display: block;
  overflow: hidden;
  font-size: 0;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 3px solid #fff; }

.markImage img {
  width: 100px; }

.buildCard {
  display: block;
  padding: 20px; }

.buildCard:hover {
  text-decoration: none; }

.buildCard .buildName {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  line-height: 21.94px; }

.buildCard .buildImage {
  width: 100%;
  margin: 15px 0 20px; }

.buildCard .buildImage img {
  width: 100%; }

.buildCard .buildText {
  font-size: 16px;
  font-family: 'Montserrat';
  line-height: 19.5px;
  color: #000;
  font-weight: 500;
  width: 100%; }

div .ymaps-2-1-78-balloon__close + .ymaps-2-1-78-balloon__content {
  margin: 0;
  padding: 0; }

div .ymaps-2-1-78-balloon__close {
  float: none;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 15px; }

div .ymaps-2-1-78-balloon__close-button {
  background: url(../assets/images/svg/CloseMarkCard.svg) 50% no-repeat; }
